NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0

# NextAuth
NEXTAUTH_URL=https://aqarna-dev.com
NEXTAUTH_SECRET=VPMTNgk1czZ9V7/YnN3ZwS8d6+iF/mMsjVCJoUxMru4=
# API
NEXT_PUBLIC_API_BASE_URL=https://aqarna-dev.com/api/v1


